
body {
    background-color: rgba(176, 100, 247, 0.829);
    margin: 10px;
    font-family: 'Crimson Text', serif;
}
/* .page-nav {
    border: 1px solid black ; */


.enlace {
    position: absolute;
    padding: 20px 50px;
}

.title_container{
    display: flex;
    text-decoration-line: center;
    color: rgb(49, 17, 78);
}

.title_site{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
   
}

.product_container {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  grid-auto-rows: minmax(100px, auto);
}


.product_card img {
    width: 250px;
}